/*custom css*/
h1{
    font:normal 50pt Arial;
    color:#FFFFFF;
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
}
h2{
    font:normal 30pt Arial;
    color:#FFFFFF;
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
}
footer h2{
    font:normal 30pt Arial;
    color:#525252;
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #a8a8a8,
        0 3px 0 #000aa6,
        0 4px 0 #868686,
        0 5px 0 #010880,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
}
footer h2{
    font:normal 30pt Arial;
    color:#525252;
    text-shadow: none;
}
aside h2{
    font:normal 30pt Arial;
    color:#bf5100;
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
}

h3{
    font:normal 30pt Arial;
    color:#FFFFFF;
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
}

h4{
    font:normal 20pt Arial;
    color:#FFFFFF;
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
}
blockquote{
    font-family: sans-serif;
    font-size: 12px;
}

.navbar-collapse{
    padding-left: 0px;
    padding-right: 0px;
}
#news_carousel .carousel-control.left{
    background-image: none;
}
#news_carousel .carousel-control.right{
    background-image: none;
}
#news_carousel .carousel-control.right span{
    display: none;
}
#news_carousel .carousel-control.left span{
    display: none;
}
.about_director ul li{
    list-style: none;
    text-align: left;
}
.thumb{
    overflow: hidden;
    height: 60px;
    width: 60px;
}
.small_faded{
    font-size: 12px;
    color: #999;
}
.navbar-custom{
    background-color: #FDC609;    
    border-radius: 5px;
}
.jumbotron{
    background-color: #ff8124;
}
.navbar-custom > ul > li > a{
    color: #fff;
}
.gallery_imgs li{
    display: inline-block;
    list-style: none;
    margin-left: 5px;
    margin-top: 5px;
    padding: 3px 2px 7px 2px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.gallery_imgs li:hover{
    background-color: #DDD;

}
.gallery_container{
    border-left: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
    border-bottom: 1px solid #D0D0D0;
    border-radius: 20px;
}
.gallery_nav{
    padding-left: 60px;
}
.inline-block{
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
    list-style: none;
}
footer{
    background-color: #232323;
    padding-left: 100px;
    color:#525252;

}

footer hr{
    color: #999;
}
.cpyRg{
    background-color: #1F1F1F;
    padding-top: 4px;
    font-size: 12px;
}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}